[submodule "vim colors-monokai"]
	path = vim/bundle/colors-monokai
	url = git://github.com/sickill/vim-monokai.git
[submodule "vim fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git

