[submodule "vim Vundle"]
  path = vim/bundle/Vundle.vim
  url = https://github.com/gmarik/Vundle.vim.git
[submodule "tilde/bin/git-quick-stats"]
  path = tilde/bin/git-quick-stats
  url = https://github.com/arzzen/git-quick-stats.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
